/* General */
.hero-section {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.hero-img {
  object-fit: cover;
  height: 100vh;
}

.carousel-caption {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-section {
  background-color: #343a40;
}

.social-icons a {
  color: #fff;
}
